@tailwind base;
@tailwind components;
@tailwind utilities;

.anima{
  animation: anima .5s ease-in-out;
}

body{
  background-color: #1F2937;
}


@keyframes anima {
  from{
    height: 0px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  } to{
    height: 200px;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }
}

.animaDown{
  animation: animaDown .5s ease-in-out;
}



@keyframes animaDown {
  from{
    transform: translate3d(0,-100px,0);
    opacity: 0;
  } to{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease, opacity 0.3s ease;
  position: relative;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
}

.hamburger::before {
  top: -8px;
}

.hamburger::after {
  bottom: -8px;
}

.hamburger.open {
  background-color: transparent;
}

.hamburger.open::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.open::after {
  transform: rotate(-45deg);
  bottom: 0;
}